body {
	margin: 20px;
}
canvas {
	display: block;
	margin: 10px;
}
.container{
	display: block;
	margin: 20px;
	padding: 10px;
}
.content {
	margin: 20px auto;
	padding: 10px;
}

#chartContainer {
	display: block;
	float: none;
	position: static;
}

#recallRecords {
	overflow: auto;
}